<ion-view view-title="Home">
    <ion-content padding="true" ng-controller="repeatController">      
        <ion-list>
            <ion-item collection-repeat="item in items">
                <div class="card">
                    <div class="item item-divider">
                        <i class="ion-navigate"> {{item.entryPoint}}</i>
                    </div>
                    <div class="item item-text-wrap">                        
                            <b>Date&Time</b> : {{item.entryTime}}<br />
                            <b>Place</b> : {{item.entryPoint}}<br />
                            <b>Lane</b> : {{item.road}}<br />
                            <b>Toll</b> : {{item.charge}}<br />
</div>
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>